{
    "Network":0,
    "modeltype":"onnx model",
    "Input":"cam",
    "display":1,
    "Anchors": [[1.08, 1.19], [3.42, 4.41],  [6.63, 11.38],  [9.42, 5.11],  [16.62, 10.52]],
    "ScaleWidth":416,
    "ScaleHeight":416,
    "InputFormat":"RGB",
    "ConfThreshold":0.5,    
    "IOU_THRESHOLD":0.45,
    "Runtime":1,
    "MODEL_FILENAME":"./model/model.onnx",
    "LABELS_FILENAME":"./model/labels.txt"
}

